# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.user
*.suo

# Rider
.idea/

# VS Code
.vscode/

# NuGet
*.nupkg
packages/

# MonoGame
*.mgcb.bak
Content/obj/

# dotnet tools (opcional)
.config/

# OS
.DS_Store
Thumbs.db
