# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.user
*.suo
*.cache

# Rider
.idea/

# VS Code
.vscode/

# NuGet
*.nupkg
packages/

# MonoGame
*.mgcb.bak
Content/obj/

# dotnet
.config/
*.log

# OS
.DS_Store
Thumbs.db
desktop.ini
